.modalFooter {
  .cancel {
    margin-right: 10px;
  }
}

.form {
  width: 100%;
  display: flex;
  overflow: hidden;
  align-items: center;
  flex-direction: column;

  .formContainer {
    width: 100%;
    padding: 5px;

    .formInput {
      width: 100%;
      margin-bottom: 10px;
    }

    .formMultiContainer {
      height: 200px;
      overflow-y: auto;

      .formMultiItem {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        &:not(:last-child) {
          margin-bottom: 10px;
        }

        .formSelect {
          margin-right: 20px;
          width: 100%
        }
      }
    }
  }
}