.page {
  .header {
    display: flex;
    height: var(--header-height);
    align-items: center;
    padding: 10px 20px;
    background: var(--primary);

    .mcn-select {
      min-width: 150px;
    }

    .headerItemProject {
      height: auto;
      width: 100px;
      margin-right: 20px;
      font-weight: bold;
      font-size: 16px;
      color: var(--background);
    }

    .headerItem {
      height: 40px;
      width: 150px;
      &:not(:last-child) {
        margin-right: 20px;
      }
    }
  }

  .table {
    height: calc(100vh - var(--header-height) - var(--topbar-height));
  }
}
