.page {
  .header {
    padding: 10px;
    display: flex;
    align-items: center;
    background: var(--primary);

    .headerItem {
      height: 40px;
      width: 150px;
      margin-right: 10px;
    }
  }

  .table {
    height: 100%;

    .tableContainer {
      max-height: 815px;
      overflow-y: scroll;
    }
  }
}