.page {
  .header {
    padding: 10px;
    height: var(--header-height);
    display: flex;
    align-items: center;
    background: var(--primary);

    .headerItem {
      height: 40px;
      width: 150px;
      margin-right: 10px;
    }
  }

  .table {
    height: calc(100vh - var(--header-height) - var(--topbar-height));
  }
}
