.modalFooter {
  .cancel {

  }
}

.form {
  width: 100%;

  .formContainer {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 5px;
  }

  .formInput  {
    width: 100%;

    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }

  .multi {
    width: 100%;
    margin-bottom: 10px;

    .multiItem {
      width: 100%;
      display: flex;
      align-items: center;

      .multiItemName {
        margin-right: 10px;
      }

      &:not(:last-child) {
        margin-bottom: 20px;
      }
    }
  }

  .commentInput {
    width: 100%;
  }
}